:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.main-container{
  --margin: 5vh;
  height: calc(100vh - 2 * var(--margin));
  margin: var(--margin);
  display:flex;
  flex-direction: column;
}
.msgs{
  flex:1;
  overflow-y: auto;
  overflow-anchor: none;
}

input{
  width:100%;
  padding:15px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  background-color: rgb(221, 221, 221);
}

.user-msg{
  background-color: rgb(209, 219, 255);
  width: fit-content;
  margin-left: auto; 
  margin-right: 0;
  margin-bottom:5%;
  padding: 10px;
  border-radius: 10px;
  overflow-anchor: none;
}
.ai-msg{
  background-color: rgb(221, 221, 221);
  margin-bottom:5%;
  width: fit-content;
  padding:10px;
  border-radius: 10px;
  text-wrap:pretty;
  overflow-anchor: none;
}